# API URLs
REACT_APP_URL=http://localhost:3000
REACT_APP_IMG_URL=http://localhost:3000

# Sentry Configuration
# REACT_APP_SENTRY_DSN=https://f8c31163c3b511c449f8bbb1d8a5c5b2@o4509179236646912.ingest.de.sentry.io/4509179265548368

# Other application settings
REACT_APP_DEBUG=true 